@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IT15_FINALPROJECT.Views.TenantDashboard.TenantDashboardModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/output.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
 
   
 <div class="side-bar-container">
        <div class="sidebar">
            <button class="connect-account">+ Connect New Account</button>
            
            <div class="section">
                <h3>ANALYTICS</h3>
                <ul>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Dashboard</li>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Performance</li>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Hotjar <span class="new-tag">NEW</span></li>
                </ul>
            </div>
            <div class="section">
                <h3>SUPPORT</h3>
                <ul>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Tickets <span class="badge">15</span></li>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Agents</li>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Customers</li>
                </ul>
            </div>
            <div class="section">
                <h3>SHOP</h3>
                <ul>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Products</li>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Orders</li>
                    <li><img src="~/images/home (2).png" alt="Alternate Text" style="width: 30px; height: 30px" />Reports</li>
                </ul>
            </div>
            <div class="settings">
                <ul>
                    <li><img src="~/images/user (6).png" alt="Alternate Text" style="width: 25px; height: 25px" />Account Settings</li>
                    <li><img src="~/images/exit (1).png" alt="Alternate Text" style="width: 25px; height: 25px" />Logout</li>
                </ul>
            </div>
        </div>
 </div>


 <div class="text-user-welcome">
        <h1>Hey Mariana -</h1>
        <p>here’s what’s happening with your store today</p>
 </div>

 <div class="box-container">
    <div class="box1">
        <div class="box1-maincontext">
            <h1>Lorem Ipsum</h1>
        <div class="box1-context">
                <h1>$12,426</h1>
                <p>Lorem Ipsum</p>
        </div>
            </div>
    </div>

    <div class="box2">
            <div class="box2-maincontext">
                <h1>Lorem Ipsum</h1>
                <div class="box2-context">
                    <h1>$12,426</h1>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
    </div>

    <div class="box3">
         <div class="box3-maincontext">
            <h1>Lorem Ipsum</h1>
        <div class="box3-context">
                <h1>$12,426</h1>
                <p>Lorem Ipsum</p>
        </div>
            </div>
            </div>

    <div class="box4">
            <div class="box4-maincontext">
                <h1>Lorem Ipsum</h1>
                <div class="box4-context">
                    <h1>$12,426</h1>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
    </div>
 </div>

 <div id="big-card-container">
     <div class="big-card">

     </div>
     <div class="big-card2">

     </div>
 </div>
</body>
</html>
