@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IT15_FINALPROJECT.Views.Login.IntroductionModel


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
        <link href="~/css/output.css" rel="stylesheet">
        <link href="~/css/introduction.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
   

        <!-- NAV BAR-->
    <nav class="navbar">
        <div class="navbar-left">
            <div class="logo"></div>
            <span class="navbar-title">Next-Gen Smart Utility Solutions</span>
        </div>
        <div class="navbar-links">
            <a href="#">Features</a>
            <a href="#">Features</a>
            <a href="#">Features</a>
            <a href="#">Features</a>
        </div>
        <button class="login-btn" onclick="window.location.href='@Url.Action("Login", "login")'">Log in Account</button>

    </nav>

    <div class="bigtext-container">
        <h1 class="bigtext">Smarter Dorm Living Starts Here</h1>
        <p class="smalltext">Experience a modern and hassle-free dormitory management system designed for Philippine dorms. From automated billing to smart utilities and security, we make dorm life easier for both students and dorm owners.</p>
        <button class="signup-button">Sign up</button>
    </div>
 
</body>
    </html>


