body {
    overflow: hidden;
    font-family: "Inter";
    background: var(--blue-gray-50, #F8FAFC);
}

.bigtext-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:15px;
    position:relative;
    bottom:-150px;
}

.bigtext {
    color: var(--Base-02, #090914);
    text-align: center;
    /* Bold/52px */
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 119.231% */
    letter-spacing: -2px;
    width: 636px;
    font-family: "Inter";
}

.smalltext {
    width: 494px;
    color: var(--gray-600, #52525B);
    text-align: center;
    /* Regular/18px */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    font-family: "Inter";
}

.card {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 533px;
    height: 484px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--base-white, #FFF);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.06), 0px 10px 15px 0px rgba(0, 0, 0, 0.03);
    position:relative;
    bottom:-30px;
}

.input-container {
    width: 300px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 15px;
    position:relative;
    bottom:30px;
    
}

.input-field {
    width: 473px;
    height: 63px;
    flex-shrink: 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    position:relative;
    left:85px;
}

    .input-field::placeholder {
        color: #888;
        font-weight: 500;
    }

.options-container {
    width: 462px;
    display: flex;
    justify-content: space-between;
    gap:100px;
    align-items: center;
    font-size: 14px;
    position:relative;
    bottom:5px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
}

.forgot-password {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

    .forgot-password:hover {
        color: #000;
    }


.buttons-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:20px;
    position:relative;
    bottom:-25px;
}

#login-button {
    display: flex;
    width: 472px;
    height: 65px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 9px;
    background: var(--blue-600, #2563EB);
    color: var(--base-white, #FFF);
    text-align: center;
    /* Bold/16px */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    letter-spacing: -0.2px;
    font-family: "Inter";
}

#register-button {
    display: flex;
    width: 472px;
    height: 65px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border-radius: 10px;
    background: #F1F1F1;
    color: var(--blue-gray-800, #1E293B);
    /* Bold/16px */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    letter-spacing: -0.2px;
    font-family: "Inter";
}

.bottom-texts{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    gap:10px;
    position:relative;
    bottom:-45px;

}

.donthave-account {
    color: var(--gray-500, #71717A);
    text-align: center;
    /* Regular/13px */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% 
    /* Bold/13px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.signup {
    color: var(--blue-600, #2563EB);
    font-weight: bold;

}

.pop-up-container {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(5px); /* Blurred effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pop-up {
    display: flex;
    width: 600px;
    height: 530px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}


.background-image {
    display: flex;
    width: 90px;
    height: 90px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    border: 8px solid var(--Primary-50, #F9F5FF);
    background: var(--Primary-100, #F4EBFF);
}

.pop-up-image {
    width: 40px;
    height: 40px;
}


.pop-up-texts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-text {
    align-self: stretch;
    color: var(--Gray-900, #101828);
    text-align: center;
    /* Text lg/Medium */
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.sub-text {
    color: var(--Gray-500, #667085);
    text-align: center;
    /* Text sm/Normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    color: var(--Gray-500, #667085);
    /* Text sm/Semibold */
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.otp-container {
    display: flex;
    gap: 12px;
    position: relative;
    top: 20px;
}

.otp-input {
    width: 100px;
    height: 100px;
    font-size: 32px;
    text-align: center;
    border: 2px solid #2563EB;
    border-radius: 8px;
    outline: none;
    color: #2563EB;
    font-weight: bold;
    transition: 0.3s;
}

    .otp-input:focus {
        box-shadow: 0 0 10px rgba(37, 99, 235, 0.5);
        border-color: #2563EB;
    }



#resend-text {
    color: var(--Gray-500, #667085);
    text-align: center;
    /* Text sm/Normal */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    align-self: stretch;
    line-height: 20px; /* 142.857% */
    position: relative;
    top: 20px;
}

#resend-link {
    color: var(--Gray-500, #667085);
    /* Text sm/Normal */
    font-family: Inter;
    font-size: 18;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}


#buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    top: 20px;
}

#cancel-button {
    display: flex;
    width: 300px;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Gray-700, #344054);
    /* Text md/Medium */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

#confirm-button {
    border-radius: 8px;
    border: 1px solid #296AF6;
    background: #296AF6;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    color: var(--White, #FFF);
    /* Text md/Medium */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}