body{
    padding-top:100px;
    height:180vh;
}



.welcome-text{
    display: flex;
    justify-content:start;
    flex-direction:row;
    position:absolute;
    left:5%;
    gap:5px;
}

    .welcome-text h1 {
        color: var(--gray-900, #18181B);
        /* Bold/16px */
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
    }

    .welcome-text h2 {
        color: var(--gray-500, #71717A);
        /* Regular/16px */
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }



.minicards-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:40px;
    padding-top:50px;
}

.minicard-1,
.minicard-2,
.minicard-3,
.minicard-4 {
    display: flex;
    width: 400px;
    height: 120px;
    padding: 0px 3px 0px 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid var(--gray-200, #E4E4E7);
    background: #FFF;
}




.minicard1-content h1,
.minicard2-content h1,
.minicard3-content h1,
.minicard4-content h1{
    color: var(--gray-500, #71717A);
    font-family: "Plus Jakarta Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 163.636% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.minicard1-content h2,
.minicard2-content h2,
.minicard3-content h2,
.minicard4-content h2{
    color: var(--gray-900, #18181B);
    /* Bold/21px */
    font-family: "Plus Jakarta Sans";
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 152.381% */
}

.cards-container{
    display:flex;
    flex-direction:column;
    gap:35px;
}

.analytics-card {
    width: 1200px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid var(--gray-200, #E4E4E7);
    background: var(--colors-white-100, #FFF);
    position: relative;
    right: 7rem;
    padding:20px;
}

.analytics-card-container{
    display:flex;
    flex-direction:row;
    
}

.tips-card {
    width: 500px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid var(--gray-200, #E4E4E7);
    background: var(--colors-white-100, #FFF);
    position: relative;
    right: 5rem;
    padding: 10px;
    transition: opacity 3s ease-in-out;
    opacity: 1;
}
    .tips-card.fade-out {
        opacity: 0;
    }

.tips-image {
    border-radius: 10px;
}



.tips-card h1 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    color: black;
}

.tips-card p {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 300;
    color: black;
    width: 100%;
    padding-top: 15px;
}

.user-profile {
    background-color: black;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}


.analytics-content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    gap:30px;

}

.analytics-button1,
.analytics-button2,
.analytics-button3,
.analytics-button4{
    color: var(--gray-900, #18181B);
    text-align: right;
    /* Bold/11px */
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 163.636% */
    border:none;
}

.analytics-button5 {
    color: var(--gray-900, #18181B);
    /* Bold/11px */
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 163.636% */
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--gray-300, #D4D4D8);
    background: var(--base-white, #FFF);
}

.analytics-content h1 {
    color: var(--gray-900, #18181B);
    /* Bold/16px */
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}


.custom-offcanvas {
    width: 900px !important;
    background-color: #F8F9FB;
}

#userProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile-sidecard {
    width: 500px;
    background-color: white;
    height: 100%;
    border-radius: 10px;
}

.side-card {
    flex: 1;
    height: 100%;
    border-radius: 10px;
}



.bottom-spacer {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 

    padding: 5px;
    width: 600px;
    gap: 1026px; 
}


.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid Gray;
    border-radius: 7px;
    padding: 5px;
    width: 600px;
    gap: 50px;
    border-radius: 10px;
    border: 2px solid var(--gray-200, #E4E4E7);
   
}

.bottom-buttons2 {
    color: var(--gray-900, #18181B);
    /* Bold/11px */
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 163.636% */
    flex-shrink:0;
    width: 140px;
    gap: 50px;
    padding:13px;
    border-radius: 10px;
    border: 2px solid var(--gray-200, #E4E4E7);
    transition: all ease-in-out 0.2s;
}



.bottom-buttons button {
    color: var(--gray-900, #18181B);
    /* Bold/11px */
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 163.636% */
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    border:none;
    background: var(--base-white, #FFF);
    transition:all ease-in-out 0.2s;
}

    .bottom-buttons button:focus {
        background-color: var(--gray-200, #E4E4E7);
        transform: scale(1.1);
    }

.big-table-container-bottom{
    display:flex;
    justify-content:center;
    align-content:center;
    margin-top:80px;
}


.big-table-bottom {
    flex-shrink: 0;
    width: 108rem;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--gray-200, #E4E4E7);
}
